<h1>New game</h1>
  <% @letters.each do |let| %>
  <div class="letters">
  <%= let %>
  </div>
  <% end %>

<form action="/score" method="post">
  <p>What is the longest word you can find?</p>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" class="q">
  <input type="submit" value="Play" class="b">
</form>
